*.o
*.a
*.d
*~

apps/mercator/breakpoints/breakMap
apps/mercator/breakpoints/breakpointMultipleAlignments
apps/mercator/breakpoints/findBreakpoints
apps/mercator/breakpoints/makeBreakpointAlignmentInput
apps/mercator/breakpoints/makeBreakpointGraph
apps/mercator/mercator
apps/mercator/util/anchors2fa
apps/mercator/util/gff2anchors
apps/mercator/util/makeAlignmentInput
apps/mercator/util/maskRepetitive
apps/mercator/util/matchSegment
apps/recombination/gridPoints
apps/recombination/likelihoods2posteriors
apps/recombination/randomPoints
apps/recombination/recombinationLikelihood
apps/recombination/recombinationLikelihoods
apps/recombination/recombinationPath
apps/recombination/recombinationPolytope
apps/recombination/recombinationStateSetList
apps/recombination/vertexCones
apps/recombination/vertexNormals
apps/recombination/vertexPosteriors
apps/recombination/vertexStateSetLists
util/agpConsistent
util/agpReformat
util/agpReformat2
util/agpValidate
util/align2fa
util/clustal2fa
util/clustalReformat
util/fa2align
util/fa2clustal
util/fa2phylip
util/fa2sdb
util/faAlign
util/faAssemble
util/faConcat
util/faCount
util/faFrag
util/faHardMask
util/faHead
util/faLen
util/faList
util/faOrfs
util/faReformat
util/faRepeatMask
util/faReverseComplement
util/faReverseTranscribe
util/faSoftMask
util/faSort
util/faSplitRecs
util/faSubset
util/faTranscribe
util/faTranslate
util/faUnmask
util/gffFixFrames
util/gffMap
util/gffOverlaps
util/gffReformat
util/gffRemoveOverlaps
util/gffSplit
util/gffTransform
util/gffUntransform
util/intervalTransform
util/intervalUnion
util/mafGenomes
util/mafReformat
util/mafSubset
util/mafTransform
util/mfaScore
util/mfaSlice
util/newickSubtree
util/newickTaxa
util/omapTransform
util/overlapJoin
util/phylipReformat
util/randomIntegers
util/randomPermutation
util/repeatmaskerReformat
util/sdb2fa
util/sdbAssemble
util/sdbDisassemble
util/sdbExport
util/sdbList
util/sliceAlignment

